<html>
<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/static/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="/static/script.js"></script>
</head>
<body>
<div class="page-header">
  <h1>&nbsp;AnnotBot <small> Data Annotations made easy with Telegram</small></h1>
</div>
<ul class="nav nav-tabs nav-justified">
  {% for page in pages %}
    {% if active_page==page%}
    <li role="presentation" class="active"><a href="/{{page.lower().replace(' ', '_')}})">{{page.title()}}</a></li>
    {% else %}
    <li role="presentation"><a href="/{{page.lower().replace(' ', '_')}}">{{page.title()}}</a></li>
    {% endif%}
  {% endfor %}
</ul>
<div class="container center-block">
{% block content %}
{% endblock %}
    <div class="row">
        <div class="col-lg-12">
            <a href="http://goren4u.com">© 2018 Goren.ml</a>
        </div>
    </div>
</div>
</body>
</html>
